PyQt5==5.15.3
pyQt5-sip==12.11.0
PyQt3D==5.15.3
scipy==1.10.1
jupyterlab==4.4.8
npyscreen==4.10.5
pynput==1.7.6
environs==9.5.0
PyYAML==6.0
rospkg==1.4.0
pathlib==1.0.1
jderobot-jderobottypes==1.0.0
catkin_pkg==0.5.2
numpy==1.23.5
matplotlib==3.5.3
kiwisolver==1.4.5
defusedxml==0.7.1
netifaces==0.11.0
Pillow==10.0.1
pyglet==2.0.8
gym==0.26.2
requests==2.33.0
six==1.16.0
empy==3.3.4
vcstool==0.2.15
scikit-image==0.21.0
bagpy==0.4.10
pycryptodomex==3.14.0
torch==2.8.0
torchvision==0.16.0
tensorboard==2.14.1
tensorflow==2.14.0
albumentations==1.3.1
protobuf==5.29.6
transforms3d==0.4.1
pydantic==1.10.13
seaborn==0.12.2
pandas==1.5.3
scikit-learn==1.3.0
pygame==2.3.0
keras_preprocessing==1.1.2

# new install
npyscreen
pynput



