PyQt5
pyQt5-sip
scipy
jupyterlab
PyQt3D
npyscreen
Keras
tf-nightly
pynput
opencv_python
environs
PyYAML
rospkg
pathlib
jderobot-jderobottypes
catkin_pkg
numpy
matplotlib
kiwisolver
defusedxml
netifaces
Pillow
pyglet
gym
requests
six
empy
vcstool
scikit-image
bagpy
pycryptodomex
