<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="/" />
    <remap from="/joint_states" to="/teo/joint_states"/>
  </node>

  <rosparam file="$(find cartpole_gazebo)/cart_pole_controller.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/" args="cart_pole_controller joint_state_controller"/>

</launch>
