<sdf version="1.5">
<world name="default">
	
	<include>
		<uri>model://sun</uri>
	</include>
	<include>
		<uri>model://simple_circuit</uri>
		<pose>0 0 0 0 0 0</pose>
	</include>
	<include>
		<uri>model://f1_renault</uri>
			
		<pose>-6.494 -28.655 0.0 0.004 0.003 -1.6450200000000001</pose>
		
		
	</include>
    <gui fullscreen="0">
        <camera name="user_camera">
                <pose frame="">60 -20.734 2.64 0.00 0.23 2.2</pose> 
            <view_controller>orbit</view_controller>
            <projection_type>perspective</projection_type>
        </camera>
    </gui>
	<scene>
		<sky>
			<clouds>
				<speed>12</speed>
			</clouds>
		</sky>
		<ambient>1.0 1.0 1.0 1.0</ambient>
		<shadows>false</shadows>
		<grid>false</grid>
	</scene>
</world>
</sdf>